.weatherDisplay {
    /*padding: 10px;*/
}

section {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

img {
}

.temperature {
    display: flex;
    font-size: 36px;
    font-weight: bold;
    align-items: center;
    padding-left: 20px;
}

.description {
    margin-top: -20px;
    font-size: 24px;
}

.status {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 20px;
}

.statusTitle {
    font-weight: bold;
    margin: 5px 0;
}